.cat {
    &__header {
        width: 100%;
        max-width: 1000px;
        min-height: 100vh;
        margin: 0 auto;
        overflow: hidden;
        position: sticky;
        top: 0;


        display: flex;
        justify-content: center;
        align-items: center;

        .h1 {
            font-size: 70px;
            line-height: 90px;
        }

        .h2 {
            text-align: left;
        }

        @media screen and (max-width: 600px) {
            padding: 150px 25px;

            .h1 {
                font-size: 35px;
                line-height: 40px;
            }

            .h2 {
                text-align: left;
            }
        }
    }

    &__card {
        width: 100%;
        height: 100vh;
        position: relative;
        position: sticky;
        top: 0;

        &__text {
            width: 100%;
            height: 100vh;
            background: rgba($color: #000000, $alpha: 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0;
            left: 0;
        }

        .h1 {
            font-size: 90px;
        }
        .h2 {
            margin-top: -55px;
        }
        @media screen and (max-width: 600px) {
            .h2 {
                font-size: 13vw;
                margin-top: -40px;
            }
            .h1 {
                font-size: 12vw;
            }
        }

        &__img {
            img {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
            }
        }
    }
}
