.contact{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

    &__heading{
        margin-bottom: 50px;
        
        .h1{
            text-transform: capitalize;
        }
        .h2{
            text-align: left;
        }
    }

    &__box{
        width: var(--container);
        margin: 0 auto;
    }

    &__form-box{
        display: flex;
        max-width: 1066px;
        margin: 20px auto;
        min-height: 400px;
    }

    &__form-details{
        max-width: 522px;
        padding: 50px;
        flex: 1;
        background-color: #111111;

        .p{
            margin-bottom: 25px;
        }
        .name {
            color: #fff;
            font-size: 24px;
            font-family: $font-primary;
        }
        .sign {
            color: #fff;
            font-family: $font-secondary;
            font-size: 20px;
        }
    }

    &__form{
        flex:1;
        width: 50%;
        padding-left: 32px;
    }
}

@media screen and (max-width: 600px){
    .contact{
        &__form-box{
            flex-direction: column-reverse;
        }
        &__form-details{
            width: 100%;
            padding: 20px;
            margin-bottom: 50px;
        }
        &__form{
            width: 100%;
            padding: 0px;
            margin-bottom: 50px;
        }
        &__heading{
            margin: 50px 0;
        }
    }
}