.contact{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

    &__heading{
        .h1{
            text-transform: capitalize;
        }
    }

    &__box{
        width: 80%;
        margin: 0 auto;
    }

    &__form-box{
        display: flex;
        max-width: 1000px;
        margin: 20px auto;
    }

    &__form-details{
        width: 50%;
        padding: 20px;

        .p{
            margin-bottom: 25px;
        }
        .name {
            color: #fff;
            font-size: 24px;
            font-family: $font-primary;
        }
        .sign {
            color: #fff;
            font-family: $font-secondary;
            font-size: 20px;
        }
    }

    &__form{
        padding: 20px;
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .contact{
        &__form-box{
            flex-direction: column-reverse;
        }
        &__form-details{
            width: 100%;
            padding: 5px;
        }
        &__form{
            width: 100%;
            padding: 5px;
        }
        &__heading{
            margin: 50px 0;
        }
    }
}