.side-nav {
    width: 100%;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);

    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    width: 100vh;
    height: auto;

    position: fixed;
    top: 0;
    z-index: 1000;

    // opacity: 0;
    // visibility: hidden;
    transition: all 0.3s ease-in;

    // &:target {
    //     opacity: 1;
    //     visibility: visible;
    // }

    &__rotate {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vh;
        padding: 30px 0px;
        margin: 0;
    }

    &__links-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__close {
        width: fit-content;
        position: absolute;
        right: 34px;
        /* top: 0; */
        /* bottom: 0; */
        margin: auto;
    }
    &__links {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        margin: 0 20px;
        cursor: pointer;

        &:hover {
            .h1 {
                opacity: 1;
                transition: all 2s;
            }
        }
    }

    &__h3 {
        font-family: $font-primary;
        font-size: 15px;
        line-height: 16px;
        text-transform: capitalize;
        opacity: 0.6;
    }
    &__h4 {
        font-size: 0px;
        margin-top: 0px;
    }
    &__active {
        .h1 {
            opacity: 1;
        }
        .h2 {
            font-size: 16px;
            margin-top: -8px;
        }
    }
}
