.testimonial {
    width: 100%;
    height: auto;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        // width: 90%;
        // max-width: 1200px;
        width: var(--container);
    }

    &__review {
        width: 100%;
        max-width: 1066px;
        margin: 20px auto;
        background-color: #000;
        color: #fff;
        overflow: hidden;
        display: flex;
        min-height: 400px;
        &__text {
            max-width: 466px;
            justify-content: center;
            padding: 50px;
            flex:1;

            .p {
                margin-bottom: 32px;
            }

            .name {
                font-size: 24px;
                font-family: $font-primary;
            }
            .sign {
                font-family: $font-secondary;
                font-size: 20px;
            }
        }
        &__img {
            width: 50%;
            height: 100%;
            margin-bottom: -5px;
            flex:1;
        }
    }

    &__heading {
        width: 50%;

        .h2 {
            text-align: left;
            font-size: 50px;
        }
    }
}

.tab-menu-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .tab-menu {
        border: none;
        outline: none;
        width: 8px;
        height: 8px;
        margin:0 8px;
        background:#111111;
        cursor: pointer;
        opacity: 0.5;
        border-radius: 50%;
        &.tab-selected {
            background:#d0ab82;
            opacity: 1;
        }
    }
}
.tab-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .tab-list {
        flex-direction: column;
    }
    .tab-menu-box {
        width: 100%;
    }
    .tab-menu {
        width: 20%;
    }
    .testimonial {
        &__heading {
            width: 100%;
            margin: 50px 0;
            .h2 {
                font-size: 37px;
                margin-top: -27px;
            }
        }
        &__review {
            flex-direction: column-reverse;
            margin-bottom: 50px;

            &__text{
                width: 100%;
            }
            &__img{
                width: 100%;
            }
        }
    }
    
}
