.testimonial {
    width: 100%;
    height: auto;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        // width: 90%;
        // max-width: 1200px;
        width: calc(100% - 180px);
    }

    &__review {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        background-color: #000;
        color: #fff;
        overflow: hidden;

        display: flex;

        &__text {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;

            .p {
                margin-bottom: 25px;
                font-size: 13px;
            }

            .name {
                font-size: 24px;
                font-family: $font-primary;
            }
            .sign {
                font-family: $font-secondary;
                font-size: 20px;
            }
        }
        &__img {
            width: 50%;
            height: 100%;
            margin-bottom: -5px;
        }
    }

    &__heading {
        width: 50%;

        .h2 {
            text-align: left;
            font-size: 50px;
        }
    }
}

.tab-menu-box {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tab-menu {
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
    margin-left: 40px;
    background: white;
    cursor: pointer;
    opacity: 0.5;
}
.tab-selected {
    opacity: 1;
    border-bottom: 2px solid #d0ab82;
}
.tab-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .tab-list {
        flex-direction: column;
    }
    .tab-menu-box {
        width: 100%;
    }
    .tab-menu {
        width: 20%;
    }
    .testimonial {
        &__heading {
            width: 100%;
            margin: 50px 0;
            .h2 {
                font-size: 37px;
                margin-top: -27px;
            }
        }
        &__review {
            flex-direction: column-reverse;
            margin-bottom: 50px;

            &__text{
                width: 100%;
            }
            &__img{
                width: 100%;
            }
        }
    }
    
}
